<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('员工列表')" />
    <title></title>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>员工id：
                                <input type="text" name="empId"/></label>
                            </li>
                            <li>
                                <label>员工姓名：
                                <input type="text" name="empName"/></label>
                            </li>
                            <li>
                                <label>身份信息：
                                <input type="text" name="empIdcard"/></label>
                            </li>
                            <li>
                                <label>性别：
                                <select name="empGender" th:with="type=${@dict.getType('sys_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select></label>
                            </li>
                            <li>
                                <label>联系方式：
                                <input type="text" name="empPhone"/></label>
                            </li>
                            <li>
                                <label>电子邮箱：
                                <input type="text" name="empEmail"/></label>
                            </li>
                            <li>
                                <label>在职状态：
                                <select name="empStatus" th:with="type=${@dict.getType('sys_fan_stay')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select></label>
                            </li>
                            <li>
                                <label>部门id：
                                <input type="text" name="deptId" /></label>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:employee:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:employee:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:employee:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:employee:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:employee:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:employee:remove')}]];
        var empGenderDatas = [[${@dict.getType('sys_user_sex')}]];
        var empStatusDatas = [[${@dict.getType('sys_fan_stay')}]];
        var prefix = ctx + "system/employee";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "查询员工",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'empId',
                    title: '员工id'
                    // visible: false
                },
                {
                    field: 'empName',
                    title: '员工姓名'
                },
                {
                    field: 'empIdcard',
                    title: '身份信息'
                },
                {
                    field: 'empGender',
                    title: '性别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(empGenderDatas, value);
                    }
                },
                {
                    field: 'empPhone',
                    title: '联系方式'
                },
                {
                        field: 'empEmail',
                        title: '电子邮箱'
                    },
                {
                    field: 'deptId',
                    title: '所在部门id',
                    visible: false
                },
                {
                    field: 'deptName',
                    title: '所在部门'
                },
                {
                    field: 'empStatus',
                    title: '在职状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(empStatusDatas, value);
                    }
                },
                // {
                //     field: 'empDelflag',
                //     title: '删除标签'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.empId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.empId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>